<h1>LEGO TOWN WEBSITE</h1>
<p>This is the home page for the Lego Town website</p>
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9d/Lego_Brick_2.svg/1024px-Lego_Brick_2.svg.png" alt="Lego" height="200" width="200">
